/* Colors */

$green-one: #13a722;
$green-two: #10911d;
$green-three: #0e7f19;
$green-four: #e7f7e9;

$blue-one: #2b4088;
$blue-two: #5064a8;
$blue-three: #3e7dc3;

$red-one: #f71c1c;
$red-two: #f60d0d;

/* Break Points */

$web-view-break-point: 1180px;
