@if (sharedService.screenWidth <= sharedService.webViewBreakPoint) {
  <footer class="footer mt-5">
    <div class="footer-container">
      <div class="d-flex flex-column align-items-start">
        <img class="logo" src="assets/images/logo.png" />

        <p class="text-start mt-5" [class.text-end]="translate.currentLang === 'ar'">
          {{ 'footer.description' | translate }}
        </p>
      </div>

      <div class="footer-links d-flex justify-content-between w-100">
        <div class="column d-flex flex-column flex-lg-row gap-4 align-items-start w-50">
          <a routerLink="/">{{ 'footer.home' | translate }}</a>
          <a routerLink="/about-us">{{ 'footer.aboutUs' | translate }}</a>
          <!-- <a href="#">{{ 'footer.application' | translate }}</a> -->
          <a routerLink="/contact-us">{{ 'footer.contactUs' | translate }}</a>
        </div>

        <div class="column d-flex flex-column flex-lg-row gap-4 align-items-start w-50">
          <a routerLink="/privacy-policy">{{ 'footer.privacyPolicy' | translate }}</a>
          <a routerLink="/terms" target="_blank">{{ 'footer.terms' | translate }}</a>

          <div class="footer-socials d-flex gap-2 justify-content-center">
            <a href="https://www.facebook.com/MakTravelTourism/" target="_blank">
              <img src="assets/icons/footer/facebook.svg" width="20px" />
            </a>
            <a href="https://www.instagram.com/mak.travelandtours/" target="_blank">
              <img src="assets/icons/footer/instagram.svg" width="20px" />
            </a>
          </div>
        </div>
      </div>

      <div class="footer-contact d-flex flex-wrap justify-content-between w-100">
        <div class="d-flex flex-column flex-lg-row flex-grow-1 align-items-start gap-2 w-50">
          <a class="text-white d-flex align-items-center gap-2" href="mailto:Ticketing3@mak-travel.com">
            <img src="assets/icons/footer/mail.svg" width="20" /> {{ 'footer.email' | translate }}
          </a>

          <a class="text-white phone-number d-flex align-items-center gap-2" href="tel:01123324859">
            <img src="assets/icons/footer/phone.svg" width="20" alt="Phone Icon" />
            <span class="force-ltr">01123324859</span>
          </a>
          <a class="text-white phone-number d-flex align-items-center gap-2" href="tel:01280752033">
            <img src="assets/icons/footer/phone.svg" width="20" alt="Phone Icon" />
            <span class="force-ltr">01280752033</span>
          </a>

          <a
            class="text-white d-flex align-items-start gap-2"
            href="https://www.google.com/maps/search/11+Merritt+St.+-+Tahrir+Square,+Cairo,+Egypt"
            target="_blank"
          >
            <img src="assets/icons/footer/location.svg" />
            <p class="m-0" [style.text-align]="'start'">
              Mak Travel, <br />11 Merritt St. - Tahrir Square, <br />Cairo, Egypt.
            </p>
          </a>
        </div>

        <!-- <div class="footer-certificates">
          <img src="assets/images/footer/iata.png" alt="IATA" />
          <img src="assets/images/footer/license.png" alt="IATA" />
          <img src="assets/images/footer/tyran.png" alt="IATA" />
        </div> -->
      </div>
    </div>

    <div class="footer-bottom">
      {{ 'footer.rights' | translate }} © 2025 <span class="brand-green">maktravel.com</span>
    </div>
  </footer>
} @else {
  <div class="footer-desktop">
    <div class="head mb-2">
      <div class="logo-section">
        <img class="logo" src="assets/images/logo.png" width="150" />
        <p class="logo-text" [class.text-end]="translate.currentLang === 'ar'">
          {{ 'footer.description' | translate }}
        </p>
      </div>

      <div class="data d-flex justify-content-center mt-5">
        <div class="links">
          <ul>
            <li>
              <a routerLink="" [ngStyle]="translate.currentLang === 'ar' ? { 'font-size': '17px' } : {}">{{
                'footer.home' | translate
              }}</a>
            </li>
            <li>
              <a routerLink="/about-us" [ngStyle]="translate.currentLang === 'ar' ? { 'font-size': '17px' } : {}">{{
                'footer.aboutUs' | translate
              }}</a>
            </li>
            <!-- <li>
              <a href="#" [ngStyle]="translate.currentLang === 'ar' ? {'font-size': '17px'} : {}">{{ 'footer.application' | translate }}</a>
            </li> -->
            <li>
              <a routerLink="/contact-us" [ngStyle]="translate.currentLang === 'ar' ? { 'font-size': '17px' } : {}">{{
                'footer.contactUs' | translate
              }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="privacy mt-5">
        <a routerLink="/terms" target="_blank">{{ 'footer.terms' | translate }}</a>
        <a routerLink="/privacy-policy">{{ 'footer.privacyPolicy' | translate }}</a>
        <!-- <a href="#">{{ 'footer.helpCenter' | translate }}</a> -->
      </div>

      <div class="contact mt-5">
        <ul>
          <li>
            <a class="text-white d-flex align-items-center gap-2" href="mailto:Ticketing3@mak-travel.com">
              <img src="assets/icons/footer/mail.svg" width="20" /> {{ 'footer.email' | translate }}
            </a>
          </li>
          <li>
            <a class="text-white d-flex align-items-center gap-2" href="tel:01123324859">
              <img src="assets/icons/footer/phone.svg" width="20" alt="Phone Icon" />
              <span class="force-ltr">01123324859</span>
            </a>
          </li>
          <li>
            <a class="text-white d-flex align-items-center gap-2" href="tel:01280752033">
              <img src="assets/icons/footer/phone.svg" width="20" alt="Phone Icon" />
              <span class="force-ltr">01280752033</span>
            </a>
          </li>
          <li>
            <a
              class="text-white d-flex align-items-start gap-2"
              href="https://www.google.com/maps/search/11+Merritt+St.+-+Tahrir+Square,+Cairo,+Egypt"
              target="_blank"
            >
              <img src="assets/icons/footer/location.svg" />
              <p class="m-0" [style.text-align]="'start'">
                Mak Travel, <br />11 Merritt St. - Tahrir Square, <br />Cairo, Egypt.
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="foot d-flex justify-content-between mt-5">
      <div class="footer-bottom mt-2">
        {{ 'footer.rights' | translate }} © 2025 <span class="brand-green">maktravel.com</span>
      </div>
      <div class="d-flex gap-2 mt-2">
        <a href="https://www.facebook.com/MakTravelTourism/" target="_blank">
          <img src="assets/icons/footer/facebook.svg" width="20px" />
        </a>
        <a href="https://www.instagram.com/mak.travelandtours/" target="_blank">
          <img src="assets/icons/footer/instagram.svg" width="20px" />
        </a>
      </div>
    </div>
  </div>
}
