.deals-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
}

.deals-description {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  color: #7a7a7a;
  padding-inline: 20%;
}
