 <div class="trip-types">
    <div class="trip-type">
      <div class="radio off"></div>
      <div class="skeleton label-skel"></div>
    </div>
    <div class="trip-type">
      <div class="radio"></div>
      <div class="skeleton label-skel"></div>
    </div>
    <div class="trip-type">
      <div class="radio off"></div>
      <div class="skeleton label-skel"></div>
    </div>
  </div>

  <!-- form row -->
  <div class="form-row">
    <!-- From/To -->
    <div class="field double">
      <div>
        <div class="skeleton label"></div>
        <div class="skeleton value"></div>
      </div>
      <div>
        <div class="skeleton label"></div>
        <div class="skeleton value"></div>
      </div>
      <div class="divider"></div>
      <div class="swap"><div class="skeleton"></div></div>
    </div>

    <!-- Depart -->
    <div class="field">
      <div class="skeleton label"></div>
      <div class="skeleton value"></div>
    </div>

    <!-- Return -->
    <div class="field">
      <div class="skeleton label"></div>
      <div class="skeleton value"></div>
    </div>

    <!-- Passengers -->
    <div class="field">
      <div class="skeleton label"></div>
      <div class="skeleton value"></div>
    </div>

    <!-- Button -->
    <div class="search-btn">
      <div class="spinner"></div>
    </div>
  </div>